<html>
    <body>
        <div>
            frame1
            <iframe id="frame1" src="/test?id=1"></iframe>
        </div>
        <div>
            frame2
            <iframe id="frame2" src="/test?id=1"></iframe>
        </div>
        <script src="parent.js"></script>
        <button onclick="javascript:resetFrame2();">reset frame2</button>
        <button onclick="javascript:console.log(calcFrame2HistoryBack());;">calck history back for frame2</button>
    </body>
</html>