<html>
    <head>
        <script src="/main.js"></script>
    </head>
    <body>
        <h1><%= id %></h1>
        <a href="/test?id=<%= id + 1 %>">to <%= id + 1 %></a>
        <button onclick="javascript:window.history.back()">history.back</button>
    </body>
</html>